<div class="container">
  <div class="row">
    <div class="col">
      <div class="card w-100 mt-5 mx-auto">
        <div class="card-body">
          <h5 class="card-title text-center">Sign Up</h5>
          <form action="/register" method="POST">
            <%- include('../partials/regErrors.ejs') %>
            <div class="d-flex flex-row justify-content-between">
              <!-- prettier-ignore -->
              <fieldset class="form-group" id="names-field">
                <label for="first-name">First Name</label>
                <input
                  class="form-control"
                  type="text"
                  name="name[firstName]"
                  placeholder="First Name"
                  id="first-name"
                  value="<%= typeof name != 'undefined' ? name['firstName'] : '' %>"
                />
              </fieldset>
              <fieldset class="form-group" id="last-name">
                <label for="last-name">Last Name</label>
                <input
                  class="form-control"
                  type="text"
                  name="name[lastName]"
                  placeholder="Last Name"
                  id="last-name"
                  value="<%= typeof name != 'undefined' ? name['lastName'] : '' %>"
                />
              </fieldset>
            </div>
            <fieldset class="form-group" id="email-field">
              <label for="user-email">Email</label>
              <input
                class="form-control"
                type="text"
                name="email"
                placeholder="Email Address"
                id="user-email"
                value="<%= typeof email != 'undefined' ? email : '' %>"
              />
            </fieldset>
            <fieldset class="form-group" id="passwords-field">
              <label for="password-login">Password</label>
              <input
                class="form-control"
                type="password"
                name="password"
                id="password-login"
                placeholder="Password"
                value="<%= typeof password != 'undefined' ? password : '' %>"
              />
            </fieldset>
            <fieldset class="form-group">
              <label for="confirm-password">Confirm Password</label>
              <input
                class="form-control"
                type="password"
                name="confirmPassword"
                type="password"
                id="confirm-password"
                placeholder="Confirm Password"
                value="<%= typeof confirmPassword != 'undefined' ? confirmPassword : '' %>"
              />
            </fieldset>
            <button class="btn btn-primary d-block mx-auto" type="submit">
              Create Account
            </button>
          </form>
          <p class="card-text text-center mt-4">
            <span>Have an account?</span
            ><span><a class="ml-2" href="/login">Login</a></span>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <img src="/img/longhall.jpg" class="w-100 h-100" alt="Welcome to Lisa" />
    </div>
  </div>
</div>
